.register {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 72%;
  margin: 90px auto;

  form {
     display: flex;
     justify-content: space-between;
        gap: 150px;
        transition: all 200ms ease-in-out;
        width: 100%;

    h1 {
      color: gray;
      margin-bottom: 20px;
    }

    .left,
    .right {
      flex: 1;
      // justify-content: space-between;

      label {
        font-size: 1.2rem;
        color: #666;
        font-weight: 500;
      }

      p {
        font-size: 0.9rem;
        color: rgb(248, 248, 248);
        background-color: rgba(182, 27, 27, 0.74);
        font-weight: 500;
        padding: 1px;
        text-align: center;
        margin-bottom: 15px;

        a {
          text-decoration: underline;
        }
      }

      .show, .hide {
        position: relative;

        svg {
          position: absolute;
          top: 30%;
          right: 10px;
        }
      }

      input,
      textarea {
        border: 1px solid #c0c0c0;
        padding: 12px 15px;
        border-radius: 5px;
        width: 100%;
        font-size: 1rem;
        color: #555;
        margin: 5px 0 20px 0;

        &::placeholder {
          font-size: 1rem;
          color: #8b8b8b;
        }

        &:focus {
          background-color: #f3999986;
        }
      }

      textarea {
        font-size: 1.2rem;
        color: #444;
        font-family: 'Roboto', sans-serif;
        resize: none;

        &::placeholder {
          font-size: 1rem;
          color: #666;
        }
      }

      button {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        color: black;
        background-color: rgb(241, 241, 241);
        padding: 12px;
        border-radius: 5px;
        margin-top: 20px;
        transition: all 200ms ease-in-out;
        border: 1px solid black;
        position: relative;

        &:hover {
          opacity: 0.8;
          background-color: black;
          color: white;
        }
      }

      .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 25px;

        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 24px;
        }

        .slider:before {
          position: absolute;
          content: '';
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: #b4332ad5;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
}
