.featured {
    max-height: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #013f16;
    color: white;

    .container {
        max-width: 82vw;
        width: 100%;
        display: flex;
        align-items: center;
        padding:  0 30px;

        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 50px;

                i {
                    font-weight: 300;
                }
            }

            .search {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 5px;
                .searchInput {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    svg {
                        color: rgb(104, 104, 104);
                        font-size: 23px;
                    }

                    input {
                        border: none;
                        outline: none;
                        color: rgb(99, 99, 99);
                        font-size: .9rem;
                    }

                }

                button {
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    cursor: pointer;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {

                }

                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    cursor: pointer;
                    text-wrap: nowrap;
                }
            }
        }

        .right {
            height: 100% !important;
            position: relative;

            img {
                height: 100%;
                object-fit: contain;

                &:hover {
                    transform: unset;
                }
            }

            .user-info-overlay {
                position: absolute;
                bottom: 20px;
                right: -20px;
                // font-size: 2rem;
                color: white;
                background-color: rgba(187, 180, 180, 0.151);
                padding: 15px; 
                text-wrap: nowrap;
                border: 1px solid rgba(207, 197, 197, 0.418);
                border-radius: 50px;
                box-shadow: 0 0 16px rgba(0, 0, 0, 0.411);

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                flex-direction: row;
                .left {

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }

                }
                
                .job-title {
                    p {
                        font-size: .87rem;
                    }
                    span {
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}