.home-parent {
  .slides-parent {
    padding: 96px 32px 0 32px;
    margin: 0 90px;

    h1 {
      margin-bottom: 25px;
      margin-left: 1.3rem;
      color: #444;
      text-align: start;
    }
  }

  .home {
    .slides-parent {
      padding: 96px 32px 0 32px;
      margin: 0 90px;

      h1 {
        margin-bottom: 25px;
        margin: 1.3rem;
        color: #444;
        text-align: start;
      }
    }

    // ===================== Features =================
    .features {
      background-color: #f1fdf7;
      display: flex;
      justify-content: center;
      padding: 90px 0;

      &.dark {
        background-color: #0d084d;
        color: white;

        .container {
          .item {
            gap: unset;
            h1,
            h2 {
              color: white;
            }

            .title {
              display: flex;
              align-items: center;
              gap: 10px;
              .logo {
                font-size: 36px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: -3px;
                text-transform: lowercase;

                span {
                  color: #1dbf73;
                }
              }

              span.text {
                color: #f1fdf7;
                font-size: 1.4rem;
                font-weight: 300;
              }
            }

            p {
              color: white;
              margin-bottom: 20px;
            }

            .info {
              display: flex;
              align-items: center;
              gap: 10px;

              svg {
                font-size: 30px;
                color: #a29cf3;
              }

              .text {
                h2 {
                }

                p {
                }
              }
            }

            button {
              background-color: #f1fdf7;
              color: #666;
              padding: 0.7rem 1rem;
              font-size: 1rem;
              text-wrap: nowrap;
              border-radius: 5px;
              width: max-content;
              border: none !important;
              cursor: pointer;
              margin-top: 20px;
              transition: all 250ms ease-in-out;

              &:hover {
                background-color: #1dbf73;
                color: #f1fdf7;
              }
            }
          }
        }
      }

      .container {
        max-width: 82vw;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 200px;
        align-items: center;
        justify-content: center;

        .item {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &:first-child {
            padding-right: 130px;
          }

          // &:last-child {
          //   flex: 3;
          // }

          img {
            width: 100%;
          }

          h1 {
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: capitalize;
          }

          .title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            font-size: 18px;
            color: #444;

            svg {
              font-size: 1.8rem;
              color: rgb(6, 155, 6);
            }
          }

          p {
            font-size: 18px;
            font-weight: 300;
            color: rgb(102, 102, 102);
            line-height: 28px;
            letter-spacing: 1px;
          }
        }
        video {
          width: 720px;
          border-radius: 5px;
        }
      }
    }

    // ============== Main Categories ===================
    .categories-parent {
      max-width: 82vw;
      margin: 50px auto;

      h1 {
        color: #444;
        margin-bottom: 50px;

      }

      .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          margin-bottom: 50px;
          .icon {
            position: relative;
            // border-bottom: 1px solid #555;
            padding-bottom: 8px;
            width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 48px;
            }

            &::after {
              content: '';
              position: absolute;
              width: 50%;
              bottom: 0;
              border-bottom: 2px solid #b3b3b3;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 200ms ease-in-out;
            }
          }
          h2 {
            font-size: 1.1rem;
            font-weight: 400;
            color: #555;
          }

          &:hover .icon::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            border-bottom: 2px solid rgb(24, 189, 24);
          }
        }
      }
    }

    // ================== Logo Maker ==========================
    .logo-maker {
      background-color: #446ee7;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 82vw;
      max-height: 300px;
      margin: 90px auto;
      overflow: hidden;
      position: relative;
      padding: 0 30px;

      .container {
        display: flex;
        align-items: center;

        .left {
          color: #f1fdf7;
          position: absolute;
          z-index: 100;
          left: 90px;
          top: 20px;
          h2 {
            color: #f1fdf7;
            margin-bottom: 20px;
            font-size: 1.7rem;

            span {
              font-weight: 300;
            }
          }

          h1 {
            font-size: 2.2rem;
            margin-bottom: 4px;
          }

          i {
            font-size: 2.2rem;
          }

          p {
            margin-top: 10px;
          }

          button {
            background-color: #f1fdf7;
            color: #446ee7;
            padding: 0.7rem 1.7rem;
            font-size: 1.1rem;
            border-radius: 5px;
            font-weight: 500;
            margin: 30px 0;
            transition: all 250ms ease-in-out;

            &:hover {
              background-color: #1dbf73;
              color: white;
            }
          }
        }

        .right {
          width: calc(1400 - 470);

          img {
            width: calc(1400 - 470);
            height: 300px;
            margin-top: 4px;
          }
        }
      }
    }

    // ====================== Banner ====================
    .banner {
      position: relative;
      margin-top: 120px;
      .container {
        width: 82vw;
        .left {
          position: absolute;
          top: 35%;
          bottom: 50%;
          left: 13%;
          h1 {
            font-size: 2.8rem;
            color: #f1fdf7;
            margin-bottom: 55px;
          }
          a {
            color: white;
            background-color: #1dbf73;
            padding: 0.7rem 1.8rem;
            font-size: 1.2rem;
            border-radius: 5px;
            font-weight: 500;
            transition: all 250ms ease-in-out;

            &:hover {
              background-color: #f1fdf7;
              color: #333;
            }
          }
        }

        .right {
          img {
            height: 380px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
