.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: rgb(219, 219, 219);
    transition: all .5s easet;
    position: sticky;
    top: 0;
    z-index: 999;

    &.active {
        background-color: white;
        color: rgb(99, 99, 99);
        transition: all .3s ease-in-out;
    }

    .container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .logo {
            font-size: 36px;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            letter-spacing: -3px;
            .text{

            }
            .dot {
                color: #1dbf73;
            }
        }
        .links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }

                span {
                    cursor: pointer;
                }

                .options {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border: 1px solid lightblue;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    font-weight: 300;
                    width: 200px;
                    font-size: .9rem;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171);
                    z-index: 100;
                }
            }

            button {
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border:  1px solid white;
                cursor: pointer;
                background: transparent;
                transition: all 200ms ease-in-out;

                &:hover {
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }

    hr {
        width: 100%;
        height: 0;
        border: .5px solid rgb(240, 239, 239);

    }

    .menu {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        font-weight: 300;
        color: gray;
        font-family: "Montserrat", sans-serif;
        transition: all .3s ease-in-out;

        .link {
            font-size: .9rem;
        }
    }
}